<div class="content">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-6">
        <div class="p-3 border bg-light">
          <div class="d-flex justify-content-between">
            <button (click)="generateTodo()" type="button" class="btn btn-primary fs-5">Give me something to do</button>
            <button (click)="clearGenerated()" type="button" class="btn btn-primary fs-5">Clear list</button>
          </div>
          <app-todo-listing-akita [todoType]="'generated'"></app-todo-listing-akita>
          <!-- [todoList]="todoGeneratedList$ | async" -->
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">
          <div class="card-header bg-white text-primary fw-bold fs-5">Selected activities</div>
          <app-todo-listing-akita [todoType]="'selected'"></app-todo-listing-akita>
          <!-- [todoList]="todoSelectedList$ | async" -->
        </div>
      </div>
    </div>
  </div>
</div>
